<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h2>Add Genre</h2>

<!--------------------------------------------------------------------------------------------ADD GENRE FORM-->

<div class="container">
    <form action="{{url_for('insert_genre')}}" method="POST">
      <div class="row">
        <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
          <input
            name="genre_name"
            id="genre_name"
            type="text"
            class="validate"
            placeholder="Genre Name"
          />
        </div>
        <button class="col s10 offset-s1 m6 offset-m4 l2 offset-l5 scta-btn btn waves-effect waves-light" type="submit">
          Add Genre
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
    </form>
</div>

<!--------------------------------------------------------------------------------------------ADD RECORD FORM-->

{% endblock %}
