<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h2>Add a Record...</h2>

<!--------------------------------------------------------------------------------------------ADD RECORD FORM-->

<div class="row">
  <form action="{{url_for('insert_record')}}" method="POST" class="col s12">
    <div class="row">
            <div class="input-field col s12 m6">
                <input
                name="record_title"
                id="record_title"
                type="text"
                class="validate"
                placeholder="Record Title"
                />
            </div>
            <div class="input-field col s12 m6">
                <input
                name="artist_name"
                id="artist_name"
                type="text"
                class="validate"
                placeholder="Artist Name"
                />
            </div>
            <div class="input-field col s6">
                <input name="label" id="label" type="text" class="validate" placeholder="Label" />
            </div>
            <div class="input-field col s6">
                <input
                id="year"
                name="year"
                type="text"
                class="validate"
                placeholder="Release Date (yyyy)"
                />
            </div>
            <div class="input-field col s12">
                <select name="genre">
                <option value="" class="select-genre" disabled selected>Select a Genre</option>
                {% for genre in genres %}
                <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="input-field col s12">
                <input
                id="album_art"
                name="album_art"
                type="text"
                class="validate"
                placeholder="Share a link to the album artwork..."
                />
            </div>
            <div class="input-field col s12">
                <input
                placeholder="Where can people buy this record?"
                name="get_it_here"
                id="get_it_here"
                type="text"
                class="validate"
                />
            </div>
            <div class="range-field col s12">
                <i class="material-icons prefix">star</i>
                <input type="range" name="star_rating" id="star_rating" min="0" max="5" />
            </div>
            <div class="input-field col s12">
                <textarea id="review" class="materialize-textarea" placeholder="Add a review..." name="review"></textarea>
            </div>
            </div>    
            <button class="cta-btn btn waves-effect waves-light" type="submit">
                Add to the Collection
                <i class="material-icons right">playlist_add</i>
            </button>
            
  </form>
</div>

<!--------------------------------------------------------------------------------------------/ADD RECORD FORM-->

{% endblock %}
