<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <script src="https://kit.fontawesome.com/2ecfcb735e.js" crossorigin="anonymous"></script>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <title>For The Record</title>
  </head>
  <body>

<!-------------------------------------------------------------------------------------------------------NAVBAR-->

    <nav>
      <div class="nav-wrapper row">
        <a href="{{url_for('get_records')}}" class="brand-logo hide-on-med-and-down">
            For The Record...<i class="fas fa-record-vinyl icon"></i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="fas fa-record-vinyl icon"></i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('get_records')}}">Record Collection</a></li>
          <li><a href="{{url_for('add_record')}}">Add Record</a></li>
          <li><a href="{{url_for('get_genres')}}">Genres</a></li>
          {%if session['username']%}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
          {%else%}
            <li><a href="{{url_for('login_page')}}">Login</a></li>
          {% endif %}
        </ul>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{url_for('get_records')}}">Record Collection</a></li>
          <li><a href="{{url_for('add_record')}}">Add Record</a></li>
          <li><a href="{{url_for('get_genres')}}">Genres</a></li>
          {%if session['username']%}
            <li><a href="#">Logout</a></li>
          {%else%}
            <li><a href="{{url_for('login_page')}}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

<!-------------------------------------------------------------------------------------------------------/NAVBAR-->

    <div class="container row">
      {% block content %} {% endblock %}
    </div>

<!--------------------------------------------------------------------------------------------------------FOOTER-->
    
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 m0">
                <h5 class="white-text">Get out and buy at your local record store...</h5>
                <p class="grey-text text-lighten-4">We would always encourage buying from local record
                    stores however we know due to demand, location and convenience most people buy online.
                    Here's a few of our favourite online stores for you to browse...</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Check these out...</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://honestjons.com/shop/latest_100_arrivals">Honest Jon's</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.juno.co.uk/">Juno Records</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.normanrecords.com/">Norman Records</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.discogs.com/">Discogs Marketplace</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

<!--------------------------------------------------------------------------------------------------------/FOOTER-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").formSelect();
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
