<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h2>Off The Record</h2>

<div class="row">
  <form action="{{url_for('update_record', record_id=record._id)}}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input
          name="record_title"
          id="record_title"
          type="text"
          class="validate"
          placeholder="Record Title"
          value="{{record.record_title}}"
        />
      </div>
      <div class="input-field col s12">
        <input
          name="artist_name"
          id="artist_name"
          type="text"
          class="validate"
          placeholder="Artist Name"
          value="{{record.artist_name}}"
        />
      </div>
      <div class="input-field col s12">
        <input name="label" id="label" type="text" class="validate" placeholder="Label" value="{{record.label}}" />
      </div>
      <div class="col s12">
        <input
          id="year"
          name="year"
          type="text"
          class="yearpicker"
          placeholder="Release Date (yyyy)"
          value="{{record.year}}"
        />
      </div>
      <div class="input-field col s6">
        <select name="genre">
          <option value="" disabled selected>Select a Genre</option>
          {% for genre in genres %}
            {% if genre.genre_name == record.genre %}
                <option value="{{genre.genre_name}}" selected >{{genre.genre_name}}</option>
            {% else %}
                <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
            {% endif %}
          {% endfor %}
          
        </select>
      </div>
      <div class="range-field col s6">
        <i class="material-icons prefix">star</i>
        <input type="range" name="star_rating" id="star_rating" min="0" max="5" value="{{record.star_rating}}" />
      </div>
      <div class="input-field col s12">
        <input
          name="get_it_here"
          id="get_it_here"
          type="text"
          class="validate"
          placeholder="Where can people buy this record?"
          value="{{record.get_it_here}}"
        />
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Edit Collection
        <i class="material-icons right">playlist_check</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
