<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<h2>Record Collection</h2>
<ul class="collapsible">
  {% for genre in genres %}
  <li>
    <div class="row">
      <div class="col s9 genre_header">
        <h4><strong>{{genre.genre_name}}</strong></h4>
      </div>
      <div class="col s3">
        <a
          href="#"
          class="waves-effect waves-light btn"
          ><i class="material-icons right">update</i>Update</a
        >
        <a
          href="#"
          class="waves-effect waves-light btn btn_small red"
          ><i class="material-icons right">delete</i>Remove</a
        >
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
