<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<h2>Genres</h2>

<!--------------------------------------------------------------------------------------------SHOW ALL GENRES-->

<ul>
  {% for genre in genres %}
  <li>
    <div class="row">
      <div class="col s9 genre_header">
        <h4><a href="{{url_for('get_records_in_genre', genre=genre.genre_name)}}">{{genre.genre_name}}</a></h4>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<div class="row">
    <a href="{{url_for('add_genre')}}" class="cta-btn btn col s6">Add Genre</a>
</div>

<!--------------------------------------------------------------------------------------------/SHOW ALL GENRES-->

{% endblock %}
