<!DOCTYPE html>

{% extends 'base.html' %} {% block content %} 

{% for genre in genres %} 

<div class="row">
  <div class="col s12 genre_header">
    <h2>{{genre.genre_name}}</h2>
  </div>
</div>

{% for record in records %} 
{% if genre.genre_name == record.genre %}

<ul class="collapsible">
  <li>
    <div class="collapsible-header row">
      <div class="col s9 record_header">
        <h4><strong>{{record.record_title}}</strong></h4>
        <h5>{{record.artist_name}}</h5>
      </div>
      <div class="col s3">
        <a
          href="{{url_for('edit_record', record_id=record._id)}}"
          class="waves-effect waves-light btn orange lighten-1"
          ><i class="material-icons right">update</i>Update</a
        >
        <a
          target="_blank"
          href="{{record.get_it_here}}"
          class="waves-effect waves-light btn light-green accent-4"
          ><i class="material-icons right">shopping_basket</i>Buy!</a
        >
        <a
          href="{{url_for('delete_record', record_id=record._id)}}"
          class="waves-effect waves-light btn btn_small red"
          ><i class="material-icons right">delete</i>Remove</a
        >
      </div>
    </div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col s3">
          <ul>
            <li>
              <i class="material-icons">label</i>
              Label: {{record.label}}
            </li>
            <li>
              <i class="material-icons">date_range</i>
              Year: {{record.year}}
            </li>
            <li>
              <i class="material-icons">music_note</i>
              Genre: {{record.genre}}
            </li>
            <li>
              <i class="material-icons">star</i>
              Rating: {{record.star_rating}}
            </li>
          </ul>
        </div>
        <div class="col s9">
          <h6>Review</h6>
          <p>{{record.review}}</p>
        </div>
      </div>
    </div>
  </li>
</ul>

{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}
