<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h2>Log In</h2>

<!--------------------------------------------------------------------------------------------LOG IN FORM-->

<div class="row">
  <form action="{{url_for('login')}}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Username"
          name="username"
          id="username"
          type="text"
          class="validate"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          placeholder="Password"
          name="password"
          id="password"
          type="password"
          class="validate"
          required
        />
      </div>
    </div>
    <div class="row">
      <button class="cta-btn btn waves-effect waves-light" type="submit">
        Log In
        <i class="material-icons right">check</i>
      </button>
    </div>
  </form>
</div>

<!--------------------------------------------------------------------------------------------/LOG IN FORM-->

{% endblock %}
