<!DOCTYPE html>

{% extends 'base.html' %}
    {% block content %}

	<h2>Off The Record</h2>
	<ul class="collapsible">
		{% for record in records %}
		<li>
			<div class="collapsible-header">
				<div class="col s1">
					<i class="material-icons">expand_more</i>
				</div>
				<div class="col s2">
					
					<a class="waves-effect waves-light btn btn_small green">Rate</a>
					
					<a class="waves-effect waves-light btn btn_small blue">Edit</a>
				</div>
				<div class="col s9 task_header">
					<!--<img src="{{record.artwork}}">-->
                    <strong>{{record.record_title}}</strong> - {{record.artist_name}}
				</div>
			</div>
			<div class="collapsible-body">
                {{record.track_listing}}
				<span>{{record.genre}}</span>
			</div>
		</li>
		{% endfor %}
	</ul>

    {% endblock %}
