<!DOCTYPE html>

{% extends 'base.html' %} {% block content %} 

<div class="container record-page-content">
    <div class="row">
        <div class="col s12 m3">
            <img class="record-page-art" src="{{record.album_art}}" alt="{{record.record_title}} - {{record.artist_name}}"/>
        </div>
        <div class="record-page-info offset-m1 col s12 m6">
            <h3>{{record.record_title}}</h3>
            <h4>{{record.artist_name}}</h4>
            <div class="col s12 m6 l4">
                <ul>
                    <li>
                        <i class="material-icons">label</i>
                            {{record.label}}
                    </li>
                    <li>
                        <i class="material-icons">date_range</i>
                            {{record.year}}
                    </li>
                    <li>
                        <i class="material-icons">music_note</i>
                            {{record.genre}}
                    </li>
                    <li>
                        <i class="material-icons">star</i>
                            {{record.star_rating}}
                </li>
              </ul>
            </div>
            <div class="review col s12 l8">
                <h6>Review</h6>
                <p>{{record.review}}</p>
            </div>
        </div>
        {%if session['username']%}
        <div class="col s4 m3">
            <a href="{{url_for('edit_record', record_id=record._id)}}"
               class="btn-mobile btn-floating waves-effect waves-light orange lighten-1">
               <i class="material-icons">update</i>
            </a>
        </div>
        <div class="col s4 m3">
            <a href="{{record.buy_it_here}}"
               class="btn-mobile btn-floating waves-effect waves-light modal-trigger green lighten-1">
               <i class="material-icons">shopping_basket</i>
            </a>
        </div>
        <div class="col s4 m3">
            <a href="#modal2"
               class="btn-mobile btn-floating waves-effect waves-light modal-trigger red"
               ata-target="modal2"
               value="{{record._id}}">
               <i class="material-icons">delete</i>
            </a>
        </div>
        {% endif %}
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h5>Remove {{record.record_title}}</h5>
                    <h6>Are you sure?</h6>
                </div>
                <div class="modal-footer">
                    <a
                        href="{{url_for('delete_record', record_id=record._id)}}"
                        class="modal-close waves-effect waves-green btn-flat">
                        Yes
                    </a>
                    <a
                        href="{{url_for('get_records')}}"
                        class="modal-close waves-effect waves-red btn-flat">
                        No
                    </a>
                </div>
            </div>

    
    </div>
</div>


{% endblock %}
